; https://www.codeac.io/documentation/pylint-configuration.html
# https://pylint.pycqa.org/en/v3.0.3/user_guide/configuration/all-options.html

[MAIN]
; function-rgx=_?_?[a-z]|([A-Za-z0-9]?){1,30}_?_?$
; method-rgx=_?_?[a-z]|([A-Za-z0-9]?){1,30}_?_?$
; attr-rgx=_?_?[a-z]|([A-Za-z0-9]?){1,30}_?_?$
; argument-rgx=_?[a-z]|([A-Za-z0-9]?){1,30}_?_?$
; variable-rgx=_?[a-z]|([A-Za-z0-9]?){1,30}_?_?$
; inlinevar-rgx=_?[a-z]|([A-Za-z0-9]?){1,30}_?_?$

function-naming-style=camelCase
variable-naming-style=camelCase
attr-naming-style=camelCase
argument-naming-style=camelCase
module-naming-style=snake_case
method-naming-style=camelCase


[FORMAT]
max-line-length=200

[MESSAGES CONTROL]
disable=
    missing-docstring